<div class="card">
    <div class="card-body m-3">
        <div class="col-6 offset-md-3">
            <div class="card">
                <div class="card-body m-3">
                    <h3>Portfolios
                        <span>
                            <img class="rounded mx-3" [src]="url" style="width: 90px;" />
                            <img class="rounded-circle mx-3" [src]="url" style="width: 90px;" />
                        </span>
                    </h3>
                    <label>Name</label>
                    <input type="text" class="form-control mb-1" name="name" [(ngModel)]="newItem.name" />
                    <label>Amount</label>
                    <input type="number" class="form-control mb-1 " name="initialCash" min="0" step="5000" [(ngModel)]="newItem.initialCash" />
                    <div class="text-center">
                        <button type="button" class="btn btn-success mb-1" (click)="addPortfilio()">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-success m-2" (click)="save()">Save</button>
            <button class="btn btn-primary m-2" (click)="load()">Load</button>
            <button class="btn btn-warning m-2" (click)="clear()">Clear</button>
        </div>
        <div *ngIf="currentSelect !== null" class="col-12">
            <app-portfolio-info [name]="currentSelect.name" [portfolio]="currentSelect"></app-portfolio-info>
        </div>
        <app-portfolio-list2 [portfolioList]="items" (showCurrent)=" currentSelect =$event"></app-portfolio-list2>
    </div>
</div>